<footer class="flex justify-center">
  <div class="flex max-w-[960px] flex-1 flex-col">
    <footer class="flex flex-col gap-3 px-5 py-6 text-center @container">
      <hr>
      <div class="flex flex-wrap items-center justify-center gap-4 @[480px]:flex-row @[480px]:justify-around">
        <a class="text-[#6b8961] text-base font-normal leading-normal min-w-40" href="#">About Us</a>
        <a class="text-[#6b8961] text-base font-normal leading-normal min-w-40" href="#">Contact</a>
        <a class="text-[#6b8961] text-base font-normal leading-normal min-w-40" href="#">FAQ</a>
        <a class="text-[#6b8961] text-base font-normal leading-normal min-w-40" href="#">Privacy Policy</a>
        <a class="text-[#6b8961] text-base font-normal leading-normal min-w-40" href="#">Terms of Service</a>
      </div>
      <div class="text-center text-[#6b8961]">Made with ❤️ for your daily needs</div>
      <div class="text-[#6b8961] text-base font-normal leading-normal">@2025 Kirana Store. All rights reserved.</div>
    </footer>
  </div>
</footer>
