<!DOCTYPE html>
<html lang="en" scroll="smooth-scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrapeStore</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
    section {
        overflow-x : hidden;
    }
    </style>
<body class="antialiased">

<!-- Hero Section -->
<div class="flex flex-col justify-end p-6 bg-[url('/static/images/hero-kirana.jpg')] bg-cover bg-center min-h-[350px]">
  <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-white mb-4">
      Fresh Kirana Store
  </h1>
  <div class="text-lg text-white">
      <span>Order fresh groceries online via Whatsapp</span>
  </div>
  <div class="text-lg text-white">
      <span>+91 9999999999 Your Neighborhood</span>
  </div>
</div>

<!-- Categories -->
<div class="container mx-auto px-4">
  <div class="mb-4 text-2xl font-extrabold">Categories</div>

  <div class="flex flex-wrap gap-2">
    <button class="px-4 py-2 text-sm font-medium bg-white border rounded-lg hover:bg-gray-100" onclick="loadCategory('all')">All</button>
    <button class="px-4 py-2 text-sm font-medium bg-white border rounded-lg hover:bg-gray-100" onclick="loadCategory('vegetables')">Vegetables</button>
    <button class="px-4 py-2 text-sm font-medium bg-white border rounded-lg hover:bg-gray-100" onclick="loadCategory('fruits')">Fruits</button>
    <button class="px-4 py-2 text-sm font-medium bg-white border rounded-lg hover:bg-gray-100" onclick="loadCategory('dairy')">Dairy</button>
    <button class="px-4 py-2 text-sm font-medium bg-white border rounded-lg hover:bg-gray-100" onclick="loadCategory('groceries')">Groceries</button>
    <button class="px-4 py-2 text-sm font-medium bg-white border rounded-lg hover:bg-gray-100" onclick="loadCategory('snacks')">Snacks</button>
  </div>
</div>
        <!-- This is where cards will change -->
        <div id="product-container">
        {% include 'card.html' %}
        </div>

    </div>

    {% include 'footer.html'%}


    <script>
function loadCategory(category) {
  fetch(`/category/${category}`)
    .then(response => response.text())
    .then(html => {
      document.getElementById('product-container').innerHTML = html;
    })
    .catch(error => console.error("Error loading category:", error));
}
</script>
    
</body>
</html>